openapi: 3.1.0
info:
  description: ""
  title: Twelve Data API
  version: 1.0.7
servers:
- url: https://api.twelvedata.com/
security:
- authorizationHeader:
  - "[]"
paths:
  /ad:
    get:
      description: "The Accumulation/Distribution (AD) endpoint provides data on the\
        \ cumulative money flow into and out of a financial instrument, using its\
        \ closing price, price range, and trading volume. This endpoint returns the\
        \ AD line, which helps users identify potential buying or selling pressure\
        \ and assess the strength of price movements."
      operationId: GetTimeSeriesAd
      parameters:
      - description: "Symbol ticker of the instrument. E.g. `AAPL`, `EUR/USD`, `ETH/BTC`,\
          \ ..."
        example: AAPL
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
          x-go-name: Symbol
          x-order: "10"
          x-required-group: symbol
        style: form
        x-go-name: Symbol
        x-order: "10"
        x-required-group: symbol
      - description: Filter by international securities identification number (ISIN).
          ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: US0378331005
        explode: true
        in: query
        name: isin
        required: false
        schema:
          type: string
          x-go-name: Isin
          x-order: "25"
          x-required-group: symbol
        style: form
        x-go-name: Isin
        x-order: "25"
        x-required-group: symbol
      - description: The FIGI of an instrument for which data is requested. This parameter
          is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan
          (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a>
          plan (business) and above.
        example: BBG000B9Y5X2
        explode: true
        in: query
        name: figi
        required: false
        schema:
          type: string
          x-go-name: Figi
          x-order: "20"
          x-required-group: symbol
        style: form
        x-go-name: Figi
        x-order: "20"
        x-required-group: symbol
      - description: The CUSIP of an instrument for which data is requested. CUSIP
          access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: "594918104"
        explode: true
        in: query
        name: cusip
        required: false
        schema:
          type: string
          x-go-name: Cusip
          x-order: "26"
          x-required-group: symbol
        style: form
        x-go-name: Cusip
        x-order: "26"
        x-required-group: symbol
      - description: Interval between two consecutive points in time series
        example: 1min
        explode: true
        in: query
        name: interval
        required: true
        schema:
          $ref: "#/components/schemas/IntervalEnum"
        style: form
        x-go-name: Interval
        x-order: "30"
      - description: "Number of data points to retrieve. Supports values in the range\
          \ from `1` to `5000`. Default `30` when no date parameters are set, otherwise\
          \ set to maximum"
        explode: true
        in: query
        name: outputsize
        required: false
        schema:
          default: 30
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: "80"
        style: form
        x-go-name: PageSize
        x-order: "80"
      - description: Exchange where instrument is traded
        example: NASDAQ
        explode: true
        in: query
        name: exchange
        required: false
        schema:
          type: string
          x-go-name: Exchange
          x-order: "40"
        style: form
        x-go-name: Exchange
        x-order: "40"
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        example: XNAS
        explode: true
        in: query
        name: mic_code
        required: false
        schema:
          type: string
          x-go-name: MicCode
          x-order: "50"
        style: form
        x-go-name: MicCode
        x-order: "50"
      - description: "The country where the instrument is traded, e.g., `United States`\
          \ or `US`"
        example: United States
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
          x-go-name: Country
          x-order: "60"
        style: form
        x-go-name: Country
        x-order: "60"
      - description: The asset class to which the instrument belongs
        example: Common Stock
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/TypeEnum"
        style: form
        x-go-name: Type
        x-order: "70"
      - description: |-
          Timezone at which output datetime will be displayed. Supports:
          <ul>
          <li>1. <code>Exchange</code> for local exchange time</li>
          <li>2. <code>UTC</code> for datetime at universal UTC standard</li>
          <li>3. Timezone name according to the IANA Time Zone Database. E.g. <code>America/New_York</code>, <code>Asia/Singapore</code>. Full list of timezones can be found <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="blank">here</a></li>
          </ul>
          <p>Interval Limitation: The timezone parameter is only applicable for intraday intervals (less than 1 day). For intervals of 1day, 1week, or 1month, the timezone parameter is ignored, and data is strictly returned in the Exchange local time.</p>
          <i>Take note that the IANA Timezone name is case-sensitive</i>
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          default: Exchange
          type: string
          x-go-name: Timezone
          x-order: "135"
        style: form
        x-go-name: Timezone
        x-order: "135"
      - description: |-
          Can be used separately and together with `end_date`. Format `2006-01-02` or `2006-01-02T15:04:05`

          Default location:
          <ul>
          <li>Forex and Cryptocurrencies - <code>UTC</code></li>
          <li>Stocks - where exchange is located (e.g. for AAPL it will be <code>America/New_York</code>)</li>
          </ul>
          Both parameters take into account if <code>timezone</code> parameter is provided.<br/>
          If <code>timezone</code> is given then, <code>start_date</code> and <code>end_date</code> will be used in the specified location

          Examples:
          <ul>
          <li>1. <code>&symbol=AAPL&start_date=2019-08-09T15:50:00&…</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 New York time up to current date</li>
          <li>2. <code>&symbol=EUR/USD&timezone=Asia/Singapore&start_date=2019-08-09T15:50:00&…</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 Singapore time up to current date</li>
          <li>3. <code>&symbol=ETH/BTC&timezone=Europe/Zurich&start_date=2019-08-09T15:50:00&end_date=2019-08-09T15:55:00&...</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 Zurich time up to 2019-08-09T15:55:00</li>
          </ul>
        example: 2024-08-22T15:04:05
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
          x-go-name: StartDate
          x-order: "150"
        style: form
        x-go-name: StartDate
        x-order: "150"
      - description: "The ending date and time for data selection, see `start_date`\
          \ description for details."
        example: 2024-08-22T16:04:05
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
          x-go-name: EndDate
          x-order: "160"
        style: form
        x-go-name: EndDate
        x-order: "160"
      - description: "Specifies the exact date to get the data for. Could be the exact\
          \ date, e.g. `2021-10-27`, or in human language `today` or `yesterday`"
        example: 2021-10-27
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
          x-go-name: Date
          x-order: "140"
        style: form
        x-go-name: Date
        x-order: "140"
      - description: Sorting order of the output
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: "#/components/schemas/OrderEnum"
        style: form
        x-go-name: Order
        x-order: "130"
      - description: |-
          Returns quotes that include pre-market and post-market data. Only for the `Pro` plan (individual) and `Venture` plan (business) and above.
          Available at the `1min`, `5min`, `15min`, and `30min` intervals for US equities.
          Open, high, low, close values are supplied without volume
        explode: true
        in: query
        name: prepost
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: Prepost
          x-order: "110"
        style: form
        x-go-name: Prepost
        x-order: "110"
      - description: The format of the response data
        explode: true
        in: query
        name: format
        required: false
        schema:
          $ref: "#/components/schemas/FormatEnum"
        style: form
        x-go-name: Format
        x-order: "90"
      - description: The separator used in the CSV response data
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: "100"
        style: form
        x-go-name: Delimiter
        x-order: "100"
      - description: |-
          Specifies the number of decimal places for floating values.
          Should be in range [0, 11] inclusive.
          By default, the number of decimal places is automatically determined based on the values provided
        explode: true
        in: query
        name: dp
        required: false
        schema:
          default: -1
          format: int64
          type: integer
          x-go-name: DecimalPlaces
          x-order: "120"
        style: form
        x-go-name: DecimalPlaces
        x-order: "120"
      - description: "A boolean parameter to include the previous closing price in\
          \ the time_series data. If true, adds previous bar close price value to\
          \ the current object"
        explode: true
        in: query
        name: previous_close
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: PreviousPrice
          x-order: "170"
        style: form
        x-go-name: PreviousPrice
        x-order: "170"
      - description: Adjusting mode for prices
        explode: true
        in: query
        name: adjust
        required: false
        schema:
          $ref: "#/components/schemas/AdjustEnum"
        style: form
        x-go-name: Adjust
        x-order: "180"
      - description: Specify if OHLC values should be added in the output
        explode: true
        in: query
        name: include_ohlc
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: IncludeOHLC
          x-order: "132"
        style: form
        x-go-name: IncludeOHLC
        x-order: "132"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTimeSeriesAd_200_response"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiBadRequestErrorResponseBody"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponseBody"
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponseBody"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponseBody"
          description: ""
        "414":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiParameterTooLongErrorResponseBody"
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiTooManyRequestsErrorResponseBody"
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInternalServerErrorResponseBody"
          description: ""
      summary: Accumulation/distribution
      tags:
      - technical_indicator
      x-additional-notes: Take note that this endpoint is applicable to all instruments
        except currencies.
      x-api-credits-cost: "1"
      x-api-credits-type: symbol
      x-group: Technical indicators/Volume indicators
      x-order: "10"
      x-url-hash: ad-indicator
      x-required:
        anyOf:
        - required:
          - symbol
          - isin
          - figi
          - cusip
  /add:
    get:
      description: "The Addition (ADD) endpoint calculates the sum of two input data\
        \ series, such as technical indicators or price data, and returns the combined\
        \ result. This endpoint is useful for users who need to aggregate data points\
        \ to create custom indicators or analyze the combined effect of multiple data\
        \ series in financial analysis."
      operationId: GetTimeSeriesAdd
      parameters:
      - description: "Symbol ticker of the instrument. E.g. `AAPL`, `EUR/USD`, `ETH/BTC`,\
          \ ..."
        example: AAPL
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
          x-go-name: Symbol
          x-order: "10"
          x-required-group: symbol
        style: form
        x-go-name: Symbol
        x-order: "10"
        x-required-group: symbol
      - description: Filter by international securities identification number (ISIN).
          ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: US0378331005
        explode: true
        in: query
        name: isin
        required: false
        schema:
          type: string
          x-go-name: Isin
          x-order: "25"
          x-required-group: symbol
        style: form
        x-go-name: Isin
        x-order: "25"
        x-required-group: symbol
      - description: The FIGI of an instrument for which data is requested. This parameter
          is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan
          (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a>
          plan (business) and above.
        example: BBG000B9Y5X2
        explode: true
        in: query
        name: figi
        required: false
        schema:
          type: string
          x-go-name: Figi
          x-order: "20"
          x-required-group: symbol
        style: form
        x-go-name: Figi
        x-order: "20"
        x-required-group: symbol
      - description: The CUSIP of an instrument for which data is requested. CUSIP
          access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: "594918104"
        explode: true
        in: query
        name: cusip
        required: false
        schema:
          type: string
          x-go-name: Cusip
          x-order: "26"
          x-required-group: symbol
        style: form
        x-go-name: Cusip
        x-order: "26"
        x-required-group: symbol
      - description: Interval between two consecutive points in time series
        example: 1min
        explode: true
        in: query
        name: interval
        required: true
        schema:
          $ref: "#/components/schemas/IntervalEnum"
        style: form
        x-go-name: Interval
        x-order: "30"
      - description: "Number of data points to retrieve. Supports values in the range\
          \ from `1` to `5000`. Default `30` when no date parameters are set, otherwise\
          \ set to maximum"
        explode: true
        in: query
        name: outputsize
        required: false
        schema:
          default: 30
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: "80"
        style: form
        x-go-name: PageSize
        x-order: "80"
      - description: Exchange where instrument is traded
        example: NASDAQ
        explode: true
        in: query
        name: exchange
        required: false
        schema:
          type: string
          x-go-name: Exchange
          x-order: "40"
        style: form
        x-go-name: Exchange
        x-order: "40"
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        example: XNAS
        explode: true
        in: query
        name: mic_code
        required: false
        schema:
          type: string
          x-go-name: MicCode
          x-order: "50"
        style: form
        x-go-name: MicCode
        x-order: "50"
      - description: "The country where the instrument is traded, e.g., `United States`\
          \ or `US`"
        example: United States
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
          x-go-name: Country
          x-order: "60"
        style: form
        x-go-name: Country
        x-order: "60"
      - description: The asset class to which the instrument belongs
        example: Common Stock
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/TypeEnum"
        style: form
        x-go-name: Type
        x-order: "70"
      - description: |-
          Timezone at which output datetime will be displayed. Supports:
          <ul>
          <li>1. <code>Exchange</code> for local exchange time</li>
          <li>2. <code>UTC</code> for datetime at universal UTC standard</li>
          <li>3. Timezone name according to the IANA Time Zone Database. E.g. <code>America/New_York</code>, <code>Asia/Singapore</code>. Full list of timezones can be found <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="blank">here</a></li>
          </ul>
          <p>Interval Limitation: The timezone parameter is only applicable for intraday intervals (less than 1 day). For intervals of 1day, 1week, or 1month, the timezone parameter is ignored, and data is strictly returned in the Exchange local time.</p>
          <i>Take note that the IANA Timezone name is case-sensitive</i>
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          default: Exchange
          type: string
          x-go-name: Timezone
          x-order: "135"
        style: form
        x-go-name: Timezone
        x-order: "135"
      - description: |-
          Can be used separately and together with `end_date`. Format `2006-01-02` or `2006-01-02T15:04:05`

          Default location:
          <ul>
          <li>Forex and Cryptocurrencies - <code>UTC</code></li>
          <li>Stocks - where exchange is located (e.g. for AAPL it will be <code>America/New_York</code>)</li>
          </ul>
          Both parameters take into account if <code>timezone</code> parameter is provided.<br/>
          If <code>timezone</code> is given then, <code>start_date</code> and <code>end_date</code> will be used in the specified location

          Examples:
          <ul>
          <li>1. <code>&symbol=AAPL&start_date=2019-08-09T15:50:00&…</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 New York time up to current date</li>
          <li>2. <code>&symbol=EUR/USD&timezone=Asia/Singapore&start_date=2019-08-09T15:50:00&…</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 Singapore time up to current date</li>
          <li>3. <code>&symbol=ETH/BTC&timezone=Europe/Zurich&start_date=2019-08-09T15:50:00&end_date=2019-08-09T15:55:00&...</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 Zurich time up to 2019-08-09T15:55:00</li>
          </ul>
        example: 2024-08-22T15:04:05
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
          x-go-name: StartDate
          x-order: "150"
        style: form
        x-go-name: StartDate
        x-order: "150"
      - description: "The ending date and time for data selection, see `start_date`\
          \ description for details."
        example: 2024-08-22T16:04:05
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
          x-go-name: EndDate
          x-order: "160"
        style: form
        x-go-name: EndDate
        x-order: "160"
      - description: "Specifies the exact date to get the data for. Could be the exact\
          \ date, e.g. `2021-10-27`, or in human language `today` or `yesterday`"
        example: 2021-10-27
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
          x-go-name: Date
          x-order: "140"
        style: form
        x-go-name: Date
        x-order: "140"
      - description: Sorting order of the output
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: "#/components/schemas/OrderEnum"
        style: form
        x-go-name: Order
        x-order: "130"
      - description: |-
          Returns quotes that include pre-market and post-market data. Only for the `Pro` plan (individual) and `Venture` plan (business) and above.
          Available at the `1min`, `5min`, `15min`, and `30min` intervals for US equities.
          Open, high, low, close values are supplied without volume
        explode: true
        in: query
        name: prepost
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: Prepost
          x-order: "110"
        style: form
        x-go-name: Prepost
        x-order: "110"
      - description: The format of the response data
        explode: true
        in: query
        name: format
        required: false
        schema:
          $ref: "#/components/schemas/FormatEnum"
        style: form
        x-go-name: Format
        x-order: "90"
      - description: The separator used in the CSV response data
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: "100"
        style: form
        x-go-name: Delimiter
        x-order: "100"
      - description: |-
          Specifies the number of decimal places for floating values.
          Should be in range [0, 11] inclusive.
          By default, the number of decimal places is automatically determined based on the values provided
        explode: true
        in: query
        name: dp
        required: false
        schema:
          default: -1
          format: int64
          type: integer
          x-go-name: DecimalPlaces
          x-order: "120"
        style: form
        x-go-name: DecimalPlaces
        x-order: "120"
      - description: "A boolean parameter to include the previous closing price in\
          \ the time_series data. If true, adds previous bar close price value to\
          \ the current object"
        explode: true
        in: query
        name: previous_close
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: PreviousPrice
          x-order: "170"
        style: form
        x-go-name: PreviousPrice
        x-order: "170"
      - description: Adjusting mode for prices
        explode: true
        in: query
        name: adjust
        required: false
        schema:
          $ref: "#/components/schemas/AdjustEnum"
        style: form
        x-go-name: Adjust
        x-order: "180"
      - description: Price type used as the first part of technical indicator
        explode: true
        in: query
        name: series_type_1
        required: false
        schema:
          $ref: "#/components/schemas/SeriesTypeEnum"
        style: form
        x-go-name: SeriesType1
        x-order: "62"
      - description: Price type used as the second part of technical indicator
        explode: true
        in: query
        name: series_type_2
        required: false
        schema:
          $ref: "#/components/schemas/SeriesTypeEnum"
        style: form
        x-go-name: SeriesType2
        x-order: "64"
      - description: Specify if OHLC values should be added in the output
        explode: true
        in: query
        name: include_ohlc
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: IncludeOHLC
          x-order: "132"
        style: form
        x-go-name: IncludeOHLC
        x-order: "132"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTimeSeriesAdd_200_response"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiBadRequestErrorResponseBody"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponseBody"
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponseBody"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponseBody"
          description: ""
        "414":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiParameterTooLongErrorResponseBody"
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiTooManyRequestsErrorResponseBody"
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInternalServerErrorResponseBody"
          description: ""
      summary: Addition
      tags:
      - technical_indicator
      x-api-credits-cost: "1"
      x-api-credits-type: symbol
      x-group: Technical indicators/Price transform
      x-order: "20"
      x-url-hash: add
      x-required:
        anyOf:
        - required:
          - symbol
          - isin
          - figi
          - cusip
  /adosc:
    get:
      description: The Accumulation/Distribution Oscillator endpoint (ADOSC) calculates
        a momentum indicator that highlights shifts in buying or selling pressure
        by analyzing price and volume data over different time frames. It returns
        numerical values that help users identify potential trend reversals in financial
        markets.
      operationId: GetTimeSeriesAdOsc
      parameters:
      - description: "Symbol ticker of the instrument. E.g. `AAPL`, `EUR/USD`, `ETH/BTC`,\
          \ ..."
        example: AAPL
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
          x-go-name: Symbol
          x-order: "10"
          x-required-group: symbol
        style: form
        x-go-name: Symbol
        x-order: "10"
        x-required-group: symbol
      - description: Filter by international securities identification number (ISIN).
          ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: US0378331005
        explode: true
        in: query
        name: isin
        required: false
        schema:
          type: string
          x-go-name: Isin
          x-order: "25"
          x-required-group: symbol
        style: form
        x-go-name: Isin
        x-order: "25"
        x-required-group: symbol
      - description: The FIGI of an instrument for which data is requested. This parameter
          is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan
          (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a>
          plan (business) and above.
        example: BBG000B9Y5X2
        explode: true
        in: query
        name: figi
        required: false
        schema:
          type: string
          x-go-name: Figi
          x-order: "20"
          x-required-group: symbol
        style: form
        x-go-name: Figi
        x-order: "20"
        x-required-group: symbol
      - description: The CUSIP of an instrument for which data is requested. CUSIP
          access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: "594918104"
        explode: true
        in: query
        name: cusip
        required: false
        schema:
          type: string
          x-go-name: Cusip
          x-order: "26"
          x-required-group: symbol
        style: form
        x-go-name: Cusip
        x-order: "26"
        x-required-group: symbol
      - description: Interval between two consecutive points in time series
        example: 1min
        explode: true
        in: query
        name: interval
        required: true
        schema:
          $ref: "#/components/schemas/IntervalEnum"
        style: form
        x-go-name: Interval
        x-order: "30"
      - description: "Number of data points to retrieve. Supports values in the range\
          \ from `1` to `5000`. Default `30` when no date parameters are set, otherwise\
          \ set to maximum"
        explode: true
        in: query
        name: outputsize
        required: false
        schema:
          default: 30
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: "80"
        style: form
        x-go-name: PageSize
        x-order: "80"
      - description: Exchange where instrument is traded
        example: NASDAQ
        explode: true
        in: query
        name: exchange
        required: false
        schema:
          type: string
          x-go-name: Exchange
          x-order: "40"
        style: form
        x-go-name: Exchange
        x-order: "40"
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        example: XNAS
        explode: true
        in: query
        name: mic_code
        required: false
        schema:
          type: string
          x-go-name: MicCode
          x-order: "50"
        style: form
        x-go-name: MicCode
        x-order: "50"
      - description: "The country where the instrument is traded, e.g., `United States`\
          \ or `US`"
        example: United States
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
          x-go-name: Country
          x-order: "60"
        style: form
        x-go-name: Country
        x-order: "60"
      - description: The asset class to which the instrument belongs
        example: Common Stock
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/TypeEnum"
        style: form
        x-go-name: Type
        x-order: "70"
      - description: |-
          Timezone at which output datetime will be displayed. Supports:
          <ul>
          <li>1. <code>Exchange</code> for local exchange time</li>
          <li>2. <code>UTC</code> for datetime at universal UTC standard</li>
          <li>3. Timezone name according to the IANA Time Zone Database. E.g. <code>America/New_York</code>, <code>Asia/Singapore</code>. Full list of timezones can be found <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="blank">here</a></li>
          </ul>
          <p>Interval Limitation: The timezone parameter is only applicable for intraday intervals (less than 1 day). For intervals of 1day, 1week, or 1month, the timezone parameter is ignored, and data is strictly returned in the Exchange local time.</p>
          <i>Take note that the IANA Timezone name is case-sensitive</i>
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          default: Exchange
          type: string
          x-go-name: Timezone
          x-order: "135"
        style: form
        x-go-name: Timezone
        x-order: "135"
      - description: |-
          Can be used separately and together with `end_date`. Format `2006-01-02` or `2006-01-02T15:04:05`

          Default location:
          <ul>
          <li>Forex and Cryptocurrencies - <code>UTC</code></li>
          <li>Stocks - where exchange is located (e.g. for AAPL it will be <code>America/New_York</code>)</li>
          </ul>
          Both parameters take into account if <code>timezone</code> parameter is provided.<br/>
          If <code>timezone</code> is given then, <code>start_date</code> and <code>end_date</code> will be used in the specified location

          Examples:
          <ul>
          <li>1. <code>&symbol=AAPL&start_date=2019-08-09T15:50:00&…</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 New York time up to current date</li>
          <li>2. <code>&symbol=EUR/USD&timezone=Asia/Singapore&start_date=2019-08-09T15:50:00&…</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 Singapore time up to current date</li>
          <li>3. <code>&symbol=ETH/BTC&timezone=Europe/Zurich&start_date=2019-08-09T15:50:00&end_date=2019-08-09T15:55:00&...</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 Zurich time up to 2019-08-09T15:55:00</li>
          </ul>
        example: 2024-08-22T15:04:05
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
          x-go-name: StartDate
          x-order: "150"
        style: form
        x-go-name: StartDate
        x-order: "150"
      - description: "The ending date and time for data selection, see `start_date`\
          \ description for details."
        example: 2024-08-22T16:04:05
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
          x-go-name: EndDate
          x-order: "160"
        style: form
        x-go-name: EndDate
        x-order: "160"
      - description: "Specifies the exact date to get the data for. Could be the exact\
          \ date, e.g. `2021-10-27`, or in human language `today` or `yesterday`"
        example: 2021-10-27
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
          x-go-name: Date
          x-order: "140"
        style: form
        x-go-name: Date
        x-order: "140"
      - description: Sorting order of the output
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: "#/components/schemas/OrderEnum"
        style: form
        x-go-name: Order
        x-order: "130"
      - description: |-
          Returns quotes that include pre-market and post-market data. Only for the `Pro` plan (individual) and `Venture` plan (business) and above.
          Available at the `1min`, `5min`, `15min`, and `30min` intervals for US equities.
          Open, high, low, close values are supplied without volume
        explode: true
        in: query
        name: prepost
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: Prepost
          x-order: "110"
        style: form
        x-go-name: Prepost
        x-order: "110"
      - description: The format of the response data
        explode: true
        in: query
        name: format
        required: false
        schema:
          $ref: "#/components/schemas/FormatEnum"
        style: form
        x-go-name: Format
        x-order: "90"
      - description: The separator used in the CSV response data
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: "100"
        style: form
        x-go-name: Delimiter
        x-order: "100"
      - description: |-
          Specifies the number of decimal places for floating values.
          Should be in range [0, 11] inclusive.
          By default, the number of decimal places is automatically determined based on the values provided
        explode: true
        in: query
        name: dp
        required: false
        schema:
          default: -1
          format: int64
          type: integer
          x-go-name: DecimalPlaces
          x-order: "120"
        style: form
        x-go-name: DecimalPlaces
        x-order: "120"
      - description: "A boolean parameter to include the previous closing price in\
          \ the time_series data. If true, adds previous bar close price value to\
          \ the current object"
        explode: true
        in: query
        name: previous_close
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: PreviousPrice
          x-order: "170"
        style: form
        x-go-name: PreviousPrice
        x-order: "170"
      - description: Adjusting mode for prices
        explode: true
        in: query
        name: adjust
        required: false
        schema:
          $ref: "#/components/schemas/AdjustEnum"
        style: form
        x-go-name: Adjust
        x-order: "180"
      - description: Number of periods for fast moving average. Takes values in the
          range from `1` to `800`
        explode: true
        in: query
        name: fast_period
        required: false
        schema:
          default: 12
          format: int64
          type: integer
          x-go-name: FastPeriod
          x-order: "62"
        style: form
        x-go-name: FastPeriod
        x-order: "62"
      - description: Number of periods for slow moving average. Takes values in the
          range from `1` to `800`
        explode: true
        in: query
        name: slow_period
        required: false
        schema:
          default: 26
          format: int64
          type: integer
          x-go-name: SlowPeriod
          x-order: "64"
        style: form
        x-go-name: SlowPeriod
        x-order: "64"
      - description: Specify if OHLC values should be added in the output
        explode: true
        in: query
        name: include_ohlc
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: IncludeOHLC
          x-order: "132"
        style: form
        x-go-name: IncludeOHLC
        x-order: "132"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTimeSeriesAdOsc_200_response"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiBadRequestErrorResponseBody"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponseBody"
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponseBody"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponseBody"
          description: ""
        "414":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiParameterTooLongErrorResponseBody"
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiTooManyRequestsErrorResponseBody"
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInternalServerErrorResponseBody"
          description: ""
      summary: Accumulation/distribution oscillator
      tags:
      - technical_indicator
      x-api-credits-cost: "1"
      x-api-credits-type: symbol
      x-group: Technical indicators/Volume indicators
      x-order: "30"
      x-url-hash: adosc
      x-required:
        anyOf:
        - required:
          - symbol
          - isin
          - figi
          - cusip
  /adx:
    get:
      description: "The Average Directional Index (ADX) endpoint provides data on\
        \ the strength of a market trend, regardless of its direction. It returns\
        \ a numerical value that helps users identify whether a market is trending\
        \ or moving sideways."
      operationId: GetTimeSeriesAdx
      parameters:
      - description: "Symbol ticker of the instrument. E.g. `AAPL`, `EUR/USD`, `ETH/BTC`,\
          \ ..."
        example: AAPL
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
          x-go-name: Symbol
          x-order: "10"
          x-required-group: symbol
        style: form
        x-go-name: Symbol
        x-order: "10"
        x-required-group: symbol
      - description: Filter by international securities identification number (ISIN).
          ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: US0378331005
        explode: true
        in: query
        name: isin
        required: false
        schema:
          type: string
          x-go-name: Isin
          x-order: "25"
          x-required-group: symbol
        style: form
        x-go-name: Isin
        x-order: "25"
        x-required-group: symbol
      - description: The FIGI of an instrument for which data is requested. This parameter
          is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan
          (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a>
          plan (business) and above.
        example: BBG000B9Y5X2
        explode: true
        in: query
        name: figi
        required: false
        schema:
          type: string
          x-go-name: Figi
          x-order: "20"
          x-required-group: symbol
        style: form
        x-go-name: Figi
        x-order: "20"
        x-required-group: symbol
      - description: The CUSIP of an instrument for which data is requested. CUSIP
          access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: "594918104"
        explode: true
        in: query
        name: cusip
        required: false
        schema:
          type: string
          x-go-name: Cusip
          x-order: "26"
          x-required-group: symbol
        style: form
        x-go-name: Cusip
        x-order: "26"
        x-required-group: symbol
      - description: Interval between two consecutive points in time series
        example: 1min
        explode: true
        in: query
        name: interval
        required: true
        schema:
          $ref: "#/components/schemas/IntervalEnum"
        style: form
        x-go-name: Interval
        x-order: "30"
      - description: "Number of data points to retrieve. Supports values in the range\
          \ from `1` to `5000`. Default `30` when no date parameters are set, otherwise\
          \ set to maximum"
        explode: true
        in: query
        name: outputsize
        required: false
        schema:
          default: 30
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: "80"
        style: form
        x-go-name: PageSize
        x-order: "80"
      - description: Exchange where instrument is traded
        example: NASDAQ
        explode: true
        in: query
        name: exchange
        required: false
        schema:
          type: string
          x-go-name: Exchange
          x-order: "40"
        style: form
        x-go-name: Exchange
        x-order: "40"
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        example: XNAS
        explode: true
        in: query
        name: mic_code
        required: false
        schema:
          type: string
          x-go-name: MicCode
          x-order: "50"
        style: form
        x-go-name: MicCode
        x-order: "50"
      - description: "The country where the instrument is traded, e.g., `United States`\
          \ or `US`"
        example: United States
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
          x-go-name: Country
          x-order: "60"
        style: form
        x-go-name: Country
        x-order: "60"
      - description: The asset class to which the instrument belongs
        example: Common Stock
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/TypeEnum"
        style: form
        x-go-name: Type
        x-order: "70"
      - description: |-
          Timezone at which output datetime will be displayed. Supports:
          <ul>
          <li>1. <code>Exchange</code> for local exchange time</li>
          <li>2. <code>UTC</code> for datetime at universal UTC standard</li>
          <li>3. Timezone name according to the IANA Time Zone Database. E.g. <code>America/New_York</code>, <code>Asia/Singapore</code>. Full list of timezones can be found <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="blank">here</a></li>
          </ul>
          <p>Interval Limitation: The timezone parameter is only applicable for intraday intervals (less than 1 day). For intervals of 1day, 1week, or 1month, the timezone parameter is ignored, and data is strictly returned in the Exchange local time.</p>
          <i>Take note that the IANA Timezone name is case-sensitive</i>
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          default: Exchange
          type: string
          x-go-name: Timezone
          x-order: "135"
        style: form
        x-go-name: Timezone
        x-order: "135"
      - description: |-
          Can be used separately and together with `end_date`. Format `2006-01-02` or `2006-01-02T15:04:05`

          Default location:
          <ul>
          <li>Forex and Cryptocurrencies - <code>UTC</code></li>
          <li>Stocks - where exchange is located (e.g. for AAPL it will be <code>America/New_York</code>)</li>
          </ul>
          Both parameters take into account if <code>timezone</code> parameter is provided.<br/>
          If <code>timezone</code> is given then, <code>start_date</code> and <code>end_date</code> will be used in the specified location

          Examples:
          <ul>
          <li>1. <code>&symbol=AAPL&start_date=2019-08-09T15:50:00&…</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 New York time up to current date</li>
          <li>2. <code>&symbol=EUR/USD&timezone=Asia/Singapore&start_date=2019-08-09T15:50:00&…</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 Singapore time up to current date</li>
          <li>3. <code>&symbol=ETH/BTC&timezone=Europe/Zurich&start_date=2019-08-09T15:50:00&end_date=2019-08-09T15:55:00&...</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 Zurich time up to 2019-08-09T15:55:00</li>
          </ul>
        example: 2024-08-22T15:04:05
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
          x-go-name: StartDate
          x-order: "150"
        style: form
        x-go-name: StartDate
        x-order: "150"
      - description: "The ending date and time for data selection, see `start_date`\
          \ description for details."
        example: 2024-08-22T16:04:05
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
          x-go-name: EndDate
          x-order: "160"
        style: form
        x-go-name: EndDate
        x-order: "160"
      - description: "Specifies the exact date to get the data for. Could be the exact\
          \ date, e.g. `2021-10-27`, or in human language `today` or `yesterday`"
        example: 2021-10-27
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
          x-go-name: Date
          x-order: "140"
        style: form
        x-go-name: Date
        x-order: "140"
      - description: Sorting order of the output
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: "#/components/schemas/OrderEnum"
        style: form
        x-go-name: Order
        x-order: "130"
      - description: |-
          Returns quotes that include pre-market and post-market data. Only for the `Pro` plan (individual) and `Venture` plan (business) and above.
          Available at the `1min`, `5min`, `15min`, and `30min` intervals for US equities.
          Open, high, low, close values are supplied without volume
        explode: true
        in: query
        name: prepost
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: Prepost
          x-order: "110"
        style: form
        x-go-name: Prepost
        x-order: "110"
      - description: The format of the response data
        explode: true
        in: query
        name: format
        required: false
        schema:
          $ref: "#/components/schemas/FormatEnum"
        style: form
        x-go-name: Format
        x-order: "90"
      - description: The separator used in the CSV response data
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: "100"
        style: form
        x-go-name: Delimiter
        x-order: "100"
      - description: |-
          Specifies the number of decimal places for floating values.
          Should be in range [0, 11] inclusive.
          By default, the number of decimal places is automatically determined based on the values provided
        explode: true
        in: query
        name: dp
        required: false
        schema:
          default: -1
          format: int64
          type: integer
          x-go-name: DecimalPlaces
          x-order: "120"
        style: form
        x-go-name: DecimalPlaces
        x-order: "120"
      - description: "A boolean parameter to include the previous closing price in\
          \ the time_series data. If true, adds previous bar close price value to\
          \ the current object"
        explode: true
        in: query
        name: previous_close
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: PreviousPrice
          x-order: "170"
        style: form
        x-go-name: PreviousPrice
        x-order: "170"
      - description: Adjusting mode for prices
        explode: true
        in: query
        name: adjust
        required: false
        schema:
          $ref: "#/components/schemas/AdjustEnum"
        style: form
        x-go-name: Adjust
        x-order: "180"
      - description: Number of periods to average over. Takes values in the range
          from `1` to `800`
        explode: true
        in: query
        name: time_period
        required: false
        schema:
          default: 14
          format: int64
          type: integer
          x-go-name: TimePeriod
          x-order: "62"
        style: form
        x-go-name: TimePeriod
        x-order: "62"
      - description: Specify if OHLC values should be added in the output
        explode: true
        in: query
        name: include_ohlc
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: IncludeOHLC
          x-order: "132"
        style: form
        x-go-name: IncludeOHLC
        x-order: "132"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTimeSeriesAdx_200_response"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiBadRequestErrorResponseBody"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponseBody"
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponseBody"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponseBody"
          description: ""
        "414":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiParameterTooLongErrorResponseBody"
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiTooManyRequestsErrorResponseBody"
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInternalServerErrorResponseBody"
          description: ""
      summary: Average directional index
      tags:
      - technical_indicator
      x-api-credits-cost: "1"
      x-api-credits-type: symbol
      x-badge: High demand
      x-group: Technical indicators/Momentum indicators
      x-order: "40"
      x-url-hash: adx
      x-required:
        anyOf:
        - required:
          - symbol
          - isin
          - figi
          - cusip
  /adxr:
    get:
      description: "The Average Directional Movement Index Rating (ADXR) endpoint\
        \ provides a smoothed measure of trend strength for a specified financial\
        \ instrument. It returns the ADXR values, which help users assess the consistency\
        \ of a trend over a given period by reducing short-term fluctuations. This\
        \ endpoint is useful for traders and analysts who need to evaluate the stability\
        \ of market trends for better timing of entry and exit points in their trading\
        \ strategies."
      operationId: GetTimeSeriesAdxr
      parameters:
      - description: "Symbol ticker of the instrument. E.g. `AAPL`, `EUR/USD`, `ETH/BTC`,\
          \ ..."
        example: AAPL
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
          x-go-name: Symbol
          x-order: "10"
          x-required-group: symbol
        style: form
        x-go-name: Symbol
        x-order: "10"
        x-required-group: symbol
      - description: Filter by international securities identification number (ISIN).
          ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: US0378331005
        explode: true
        in: query
        name: isin
        required: false
        schema:
          type: string
          x-go-name: Isin
          x-order: "25"
          x-required-group: symbol
        style: form
        x-go-name: Isin
        x-order: "25"
        x-required-group: symbol
      - description: The FIGI of an instrument for which data is requested. This parameter
          is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan
          (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a>
          plan (business) and above.
        example: BBG000B9Y5X2
        explode: true
        in: query
        name: figi
        required: false
        schema:
          type: string
          x-go-name: Figi
          x-order: "20"
          x-required-group: symbol
        style: form
        x-go-name: Figi
        x-order: "20"
        x-required-group: symbol
      - description: The CUSIP of an instrument for which data is requested. CUSIP
          access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: "594918104"
        explode: true
        in: query
        name: cusip
        required: false
        schema:
          type: string
          x-go-name: Cusip
          x-order: "26"
          x-required-group: symbol
        style: form
        x-go-name: Cusip
        x-order: "26"
        x-required-group: symbol
      - description: Interval between two consecutive points in time series
        example: 1min
        explode: true
        in: query
        name: interval
        required: true
        schema:
          $ref: "#/components/schemas/IntervalEnum"
        style: form
        x-go-name: Interval
        x-order: "30"
      - description: "Number of data points to retrieve. Supports values in the range\
          \ from `1` to `5000`. Default `30` when no date parameters are set, otherwise\
          \ set to maximum"
        explode: true
        in: query
        name: outputsize
        required: false
        schema:
          default: 30
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: "80"
        style: form
        x-go-name: PageSize
        x-order: "80"
      - description: Exchange where instrument is traded
        example: NASDAQ
        explode: true
        in: query
        name: exchange
        required: false
        schema:
          type: string
          x-go-name: Exchange
          x-order: "40"
        style: form
        x-go-name: Exchange
        x-order: "40"
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        example: XNAS
        explode: true
        in: query
        name: mic_code
        required: false
        schema:
          type: string
          x-go-name: MicCode
          x-order: "50"
        style: form
        x-go-name: MicCode
        x-order: "50"
      - description: "The country where the instrument is traded, e.g., `United States`\
          \ or `US`"
        example: United States
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
          x-go-name: Country
          x-order: "60"
        style: form
        x-go-name: Country
        x-order: "60"
      - description: The asset class to which the instrument belongs
        example: Common Stock
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/TypeEnum"
        style: form
        x-go-name: Type
        x-order: "70"
      - description: |-
          Timezone at which output datetime will be displayed. Supports:
          <ul>
          <li>1. <code>Exchange</code> for local exchange time</li>
          <li>2. <code>UTC</code> for datetime at universal UTC standard</li>
          <li>3. Timezone name according to the IANA Time Zone Database. E.g. <code>America/New_York</code>, <code>Asia/Singapore</code>. Full list of timezones can be found <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="blank">here</a></li>
          </ul>
          <p>Interval Limitation: The timezone parameter is only applicable for intraday intervals (less than 1 day). For intervals of 1day, 1week, or 1month, the timezone parameter is ignored, and data is strictly returned in the Exchange local time.</p>
          <i>Take note that the IANA Timezone name is case-sensitive</i>
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          default: Exchange
          type: string
          x-go-name: Timezone
          x-order: "135"
        style: form
        x-go-name: Timezone
        x-order: "135"
      - description: |-
          Can be used separately and together with `end_date`. Format `2006-01-02` or `2006-01-02T15:04:05`

          Default location:
          <ul>
          <li>Forex and Cryptocurrencies - <code>UTC</code></li>
          <li>Stocks - where exchange is located (e.g. for AAPL it will be <code>America/New_York</code>)</li>
          </ul>
          Both parameters take into account if <code>timezone</code> parameter is provided.<br/>
          If <code>timezone</code> is given then, <code>start_date</code> and <code>end_date</code> will be used in the specified location

          Examples:
          <ul>
          <li>1. <code>&symbol=AAPL&start_date=2019-08-09T15:50:00&…</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 New York time up to current date</li>
          <li>2. <code>&symbol=EUR/USD&timezone=Asia/Singapore&start_date=2019-08-09T15:50:00&…</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 Singapore time up to current date</li>
          <li>3. <code>&symbol=ETH/BTC&timezone=Europe/Zurich&start_date=2019-08-09T15:50:00&end_date=2019-08-09T15:55:00&...</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 Zurich time up to 2019-08-09T15:55:00</li>
          </ul>
        example: 2024-08-22T15:04:05
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
          x-go-name: StartDate
          x-order: "150"
        style: form
        x-go-name: StartDate
        x-order: "150"
      - description: "The ending date and time for data selection, see `start_date`\
          \ description for details."
        example: 2024-08-22T16:04:05
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
          x-go-name: EndDate
          x-order: "160"
        style: form
        x-go-name: EndDate
        x-order: "160"
      - description: "Specifies the exact date to get the data for. Could be the exact\
          \ date, e.g. `2021-10-27`, or in human language `today` or `yesterday`"
        example: 2021-10-27
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
          x-go-name: Date
          x-order: "140"
        style: form
        x-go-name: Date
        x-order: "140"
      - description: Sorting order of the output
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: "#/components/schemas/OrderEnum"
        style: form
        x-go-name: Order
        x-order: "130"
      - description: |-
          Returns quotes that include pre-market and post-market data. Only for the `Pro` plan (individual) and `Venture` plan (business) and above.
          Available at the `1min`, `5min`, `15min`, and `30min` intervals for US equities.
          Open, high, low, close values are supplied without volume
        explode: true
        in: query
        name: prepost
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: Prepost
          x-order: "110"
        style: form
        x-go-name: Prepost
        x-order: "110"
      - description: The format of the response data
        explode: true
        in: query
        name: format
        required: false
        schema:
          $ref: "#/components/schemas/FormatEnum"
        style: form
        x-go-name: Format
        x-order: "90"
      - description: The separator used in the CSV response data
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: "100"
        style: form
        x-go-name: Delimiter
        x-order: "100"
      - description: |-
          Specifies the number of decimal places for floating values.
          Should be in range [0, 11] inclusive.
          By default, the number of decimal places is automatically determined based on the values provided
        explode: true
        in: query
        name: dp
        required: false
        schema:
          default: -1
          format: int64
          type: integer
          x-go-name: DecimalPlaces
          x-order: "120"
        style: form
        x-go-name: DecimalPlaces
        x-order: "120"
      - description: "A boolean parameter to include the previous closing price in\
          \ the time_series data. If true, adds previous bar close price value to\
          \ the current object"
        explode: true
        in: query
        name: previous_close
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: PreviousPrice
          x-order: "170"
        style: form
        x-go-name: PreviousPrice
        x-order: "170"
      - description: Adjusting mode for prices
        explode: true
        in: query
        name: adjust
        required: false
        schema:
          $ref: "#/components/schemas/AdjustEnum"
        style: form
        x-go-name: Adjust
        x-order: "180"
      - description: Number of periods to average over. Takes values in the range
          from `1` to `800`
        explode: true
        in: query
        name: time_period
        required: false
        schema:
          default: 14
          format: int64
          type: integer
          x-go-name: TimePeriod
          x-order: "62"
        style: form
        x-go-name: TimePeriod
        x-order: "62"
      - description: Specify if OHLC values should be added in the output
        explode: true
        in: query
        name: include_ohlc
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: IncludeOHLC
          x-order: "132"
        style: form
        x-go-name: IncludeOHLC
        x-order: "132"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTimeSeriesAdxr_200_response"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiBadRequestErrorResponseBody"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponseBody"
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponseBody"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponseBody"
          description: ""
        "414":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiParameterTooLongErrorResponseBody"
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiTooManyRequestsErrorResponseBody"
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInternalServerErrorResponseBody"
          description: ""
      summary: Average directional movement index rating
      tags:
      - technical_indicator
      x-api-credits-cost: "1"
      x-api-credits-type: symbol
      x-group: Technical indicators/Momentum indicators
      x-order: "50"
      x-url-hash: adxr
      x-required:
        anyOf:
        - required:
          - symbol
          - isin
          - figi
          - cusip
  /analyst_ratings/light:
    get:
      description: "The analyst ratings snapshot endpoint provides a streamlined summary\
        \ of ratings from analyst firms for both US and international markets. It\
        \ delivers essential data on analyst recommendations, including buy, hold,\
        \ and sell ratings, allowing users to quickly assess the general sentiment\
        \ of analysts towards a particular stock."
      operationId: GetAnalystRatingsLight
      parameters:
      - description: Filter by symbol
        example: AAPL
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
          x-go-name: Symbol
          x-order: "10"
          x-required-group: symbol
        style: form
        x-go-name: Symbol
        x-order: "10"
        x-required-group: symbol
      - description: Filter by financial instrument global identifier (FIGI). This
          parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a>
          plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a>
          plan (business) and above.
        example: BBG000B9Y5X2
        explode: true
        in: query
        name: figi
        required: false
        schema:
          type: string
          x-go-name: Figi
          x-order: "20"
          x-required-group: symbol
        style: form
        x-go-name: Figi
        x-order: "20"
        x-required-group: symbol
      - description: Filter by international securities identification number (ISIN).
          ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: US0378331005
        explode: true
        in: query
        name: isin
        required: false
        schema:
          type: string
          x-go-name: Isin
          x-order: "30"
          x-required-group: symbol
        style: form
        x-go-name: Isin
        x-order: "30"
        x-required-group: symbol
      - description: The CUSIP of an instrument for which data is requested. CUSIP
          access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: "594918104"
        explode: true
        in: query
        name: cusip
        required: false
        schema:
          type: string
          x-go-name: Cusip
          x-order: "31"
          x-required-group: symbol
        style: form
        x-go-name: Cusip
        x-order: "31"
        x-required-group: symbol
      - description: Filter by exchange name
        example: NASDAQ
        explode: true
        in: query
        name: exchange
        required: false
        schema:
          type: string
          x-go-name: Exchange
          x-order: "50"
        style: form
        x-go-name: Exchange
        x-order: "50"
      - description: Filter by rating change action
        explode: true
        in: query
        name: rating_change
        required: false
        schema:
          $ref: "#/components/schemas/RatingChangeEnum"
        style: form
        x-go-name: RatingChange
        x-order: "60"
      - description: Number of records in response
        explode: true
        in: query
        name: outputsize
        required: false
        schema:
          default: 30
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: "70"
        style: form
        x-go-name: PageSize
        x-order: "70"
      - description: "Filter by country name or alpha code, e.g., `United States`\
          \ or `US`"
        example: United States
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
          x-go-name: Country
          x-order: "40"
        style: form
        x-go-name: Country
        x-order: "40"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAnalystRatingsLight_200_response"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiBadRequestErrorResponseBody"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponseBody"
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponseBody"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponseBody"
          description: ""
        "414":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiParameterTooLongErrorResponseBody"
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiTooManyRequestsErrorResponseBody"
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInternalServerErrorResponseBody"
          description: ""
      summary: Analyst ratings snapshot
      tags:
      - analysis
      x-api-credits-cost: "75"
      x-api-credits-type: symbol
      x-group: Analysis
      x-order: "80"
      x-starting-plan: "ultra,enterprise"
      x-url-hash: analyst-ratings-light
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
  /analyst_ratings/us_equities:
    get:
      description: "The analyst ratings US equities endpoint provides detailed information\
        \ on analyst ratings for U.S. stocks. It returns data on the latest ratings\
        \ issued by various analyst firms, including the rating itself, the firm issuing\
        \ the rating, and any changes in the rating. This endpoint is useful for users\
        \ tracking analyst opinions on U.S. equities, allowing them to see how professional\
        \ analysts view the potential performance of specific stocks."
      operationId: GetAnalystRatingsUsEquities
      parameters:
      - description: Filter by symbol
        example: AAPL
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
          x-go-name: Symbol
          x-order: "10"
          x-required-group: symbol
        style: form
        x-go-name: Symbol
        x-order: "10"
        x-required-group: symbol
      - description: Filter by financial instrument global identifier (FIGI). This
          parameter is available on the <a href="https://twelvedata.com/pricing">Ultra</a>
          plan (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a>
          plan (business) and above.
        example: BBG000B9Y5X2
        explode: true
        in: query
        name: figi
        required: false
        schema:
          type: string
          x-go-name: Figi
          x-order: "20"
          x-required-group: symbol
        style: form
        x-go-name: Figi
        x-order: "20"
        x-required-group: symbol
      - description: Filter by international securities identification number (ISIN).
          ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: US0378331005
        explode: true
        in: query
        name: isin
        required: false
        schema:
          type: string
          x-go-name: Isin
          x-order: "30"
          x-required-group: symbol
        style: form
        x-go-name: Isin
        x-order: "30"
        x-required-group: symbol
      - description: The CUSIP of an instrument for which data is requested. CUSIP
          access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: "594918104"
        explode: true
        in: query
        name: cusip
        required: false
        schema:
          type: string
          x-go-name: Cusip
          x-order: "31"
          x-required-group: symbol
        style: form
        x-go-name: Cusip
        x-order: "31"
        x-required-group: symbol
      - description: Filter by exchange name
        example: NASDAQ
        explode: true
        in: query
        name: exchange
        required: false
        schema:
          type: string
          x-go-name: Exchange
          x-order: "50"
        style: form
        x-go-name: Exchange
        x-order: "50"
      - description: Filter by rating change action
        explode: true
        in: query
        name: rating_change
        required: false
        schema:
          $ref: "#/components/schemas/RatingChangeEnum"
        style: form
        x-go-name: RatingChange
        x-order: "60"
      - description: Number of records in response
        explode: true
        in: query
        name: outputsize
        required: false
        schema:
          default: 30
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: "70"
        style: form
        x-go-name: PageSize
        x-order: "70"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAnalystRatingsUsEquities_200_response"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiBadRequestErrorResponseBody"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponseBody"
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponseBody"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponseBody"
          description: ""
        "414":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiParameterTooLongErrorResponseBody"
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiTooManyRequestsErrorResponseBody"
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInternalServerErrorResponseBody"
          description: ""
      summary: Analyst ratings US equities
      tags:
      - analysis
      x-api-credits-cost: "200"
      x-api-credits-type: symbol
      x-group: Analysis
      x-order: "90"
      x-starting-plan: "ultra,enterprise"
      x-url-hash: analyst-ratings-us
      x-required:
        anyOf:
        - required:
          - symbol
          - figi
          - isin
          - cusip
  /api_usage:
    get:
      description: "The API Usage endpoint provides detailed information on your current\
        \ API usage statistics. It returns data such as the number of requests made,\
        \ remaining requests, and the reset time for your usage limits. This endpoint\
        \ is essential for monitoring and managing your API consumption to ensure\
        \ you stay within your allocated limits."
      operationId: GetApiUsage
      parameters:
      - description: Output format
        explode: true
        in: query
        name: format
        required: false
        schema:
          $ref: "#/components/schemas/FormatEnum"
        style: form
        x-go-name: Format
        x-order: "10"
      - description: Specify the delimiter used when downloading the CSV file
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: "20"
        style: form
        x-go-name: Delimiter
        x-order: "20"
      - description: |-
          Timezone at which output datetime will be displayed. Supports:
          <ul>
          <li>1. <code>UTC</code> for datetime at universal UTC standard</li>
          <li>2. Timezone name according to the IANA Time Zone Database. E.g. <code>America/New_York</code>, <code>Asia/Singapore</code>. Full list of timezones can be found <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="blank">here</a>.</li>
          </ul>
          <i>Take note that the IANA Timezone name is case-sensitive</i>
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          default: UTC
          type: string
          x-go-name: Timezone
          x-order: "30"
        style: form
        x-go-name: Timezone
        x-order: "30"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApiUsage_200_response"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiBadRequestErrorResponseBody"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponseBody"
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponseBody"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponseBody"
          description: ""
        "414":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiParameterTooLongErrorResponseBody"
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiTooManyRequestsErrorResponseBody"
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInternalServerErrorResponseBody"
          description: ""
      summary: API usage
      tags:
      - advanced
      x-api-credits-cost: "1"
      x-api-credits-type: request
      x-group: Advanced
      x-order: "30"
  /apo:
    get:
      description: "The Absolute Price Oscillator (APO) endpoint calculates the difference\
        \ between two specified moving averages of a financial instrument's price,\
        \ providing data that helps users identify potential price trends and reversals.\
        \ The response includes the calculated APO values over a specified time period,\
        \ which can be used to track momentum changes and assess the strength of price\
        \ movements."
      operationId: GetTimeSeriesApo
      parameters:
      - description: "Symbol ticker of the instrument. E.g. `AAPL`, `EUR/USD`, `ETH/BTC`,\
          \ ..."
        example: AAPL
        explode: true
        in: query
        name: symbol
        required: false
        schema:
          type: string
          x-go-name: Symbol
          x-order: "10"
          x-required-group: symbol
        style: form
        x-go-name: Symbol
        x-order: "10"
        x-required-group: symbol
      - description: Filter by international securities identification number (ISIN).
          ISIN access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: US0378331005
        explode: true
        in: query
        name: isin
        required: false
        schema:
          type: string
          x-go-name: Isin
          x-order: "25"
          x-required-group: symbol
        style: form
        x-go-name: Isin
        x-order: "25"
        x-required-group: symbol
      - description: The FIGI of an instrument for which data is requested. This parameter
          is available on the <a href="https://twelvedata.com/pricing">Ultra</a> plan
          (individual) and the <a href="https://twelvedata.com/pricing-business">Enterprise</a>
          plan (business) and above.
        example: BBG000B9Y5X2
        explode: true
        in: query
        name: figi
        required: false
        schema:
          type: string
          x-go-name: Figi
          x-order: "20"
          x-required-group: symbol
        style: form
        x-go-name: Figi
        x-order: "20"
        x-required-group: symbol
      - description: The CUSIP of an instrument for which data is requested. CUSIP
          access is activating in the <a href="https://twelvedata.com/account/add-ons">Data
          add-ons</a> section
        example: "594918104"
        explode: true
        in: query
        name: cusip
        required: false
        schema:
          type: string
          x-go-name: Cusip
          x-order: "26"
          x-required-group: symbol
        style: form
        x-go-name: Cusip
        x-order: "26"
        x-required-group: symbol
      - description: Interval between two consecutive points in time series
        example: 1min
        explode: true
        in: query
        name: interval
        required: true
        schema:
          $ref: "#/components/schemas/IntervalEnum"
        style: form
        x-go-name: Interval
        x-order: "30"
      - description: "Number of data points to retrieve. Supports values in the range\
          \ from `1` to `5000`. Default `30` when no date parameters are set, otherwise\
          \ set to maximum"
        explode: true
        in: query
        name: outputsize
        required: false
        schema:
          default: 30
          format: int64
          type: integer
          x-go-name: PageSize
          x-order: "80"
        style: form
        x-go-name: PageSize
        x-order: "80"
      - description: Exchange where instrument is traded
        example: NASDAQ
        explode: true
        in: query
        name: exchange
        required: false
        schema:
          type: string
          x-go-name: Exchange
          x-order: "40"
        style: form
        x-go-name: Exchange
        x-order: "40"
      - description: Market Identifier Code (MIC) under ISO 10383 standard
        example: XNAS
        explode: true
        in: query
        name: mic_code
        required: false
        schema:
          type: string
          x-go-name: MicCode
          x-order: "50"
        style: form
        x-go-name: MicCode
        x-order: "50"
      - description: "The country where the instrument is traded, e.g., `United States`\
          \ or `US`"
        example: United States
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
          x-go-name: Country
          x-order: "60"
        style: form
        x-go-name: Country
        x-order: "60"
      - description: The asset class to which the instrument belongs
        example: Common Stock
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/TypeEnum"
        style: form
        x-go-name: Type
        x-order: "70"
      - description: |-
          Timezone at which output datetime will be displayed. Supports:
          <ul>
          <li>1. <code>Exchange</code> for local exchange time</li>
          <li>2. <code>UTC</code> for datetime at universal UTC standard</li>
          <li>3. Timezone name according to the IANA Time Zone Database. E.g. <code>America/New_York</code>, <code>Asia/Singapore</code>. Full list of timezones can be found <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="blank">here</a></li>
          </ul>
          <p>Interval Limitation: The timezone parameter is only applicable for intraday intervals (less than 1 day). For intervals of 1day, 1week, or 1month, the timezone parameter is ignored, and data is strictly returned in the Exchange local time.</p>
          <i>Take note that the IANA Timezone name is case-sensitive</i>
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          default: Exchange
          type: string
          x-go-name: Timezone
          x-order: "135"
        style: form
        x-go-name: Timezone
        x-order: "135"
      - description: |-
          Can be used separately and together with `end_date`. Format `2006-01-02` or `2006-01-02T15:04:05`

          Default location:
          <ul>
          <li>Forex and Cryptocurrencies - <code>UTC</code></li>
          <li>Stocks - where exchange is located (e.g. for AAPL it will be <code>America/New_York</code>)</li>
          </ul>
          Both parameters take into account if <code>timezone</code> parameter is provided.<br/>
          If <code>timezone</code> is given then, <code>start_date</code> and <code>end_date</code> will be used in the specified location

          Examples:
          <ul>
          <li>1. <code>&symbol=AAPL&start_date=2019-08-09T15:50:00&…</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 New York time up to current date</li>
          <li>2. <code>&symbol=EUR/USD&timezone=Asia/Singapore&start_date=2019-08-09T15:50:00&…</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 Singapore time up to current date</li>
          <li>3. <code>&symbol=ETH/BTC&timezone=Europe/Zurich&start_date=2019-08-09T15:50:00&end_date=2019-08-09T15:55:00&...</code><br/>
          Returns all records starting from 2019-08-09T15:50:00 Zurich time up to 2019-08-09T15:55:00</li>
          </ul>
        example: 2024-08-22T15:04:05
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
          x-go-name: StartDate
          x-order: "150"
        style: form
        x-go-name: StartDate
        x-order: "150"
      - description: "The ending date and time for data selection, see `start_date`\
          \ description for details."
        example: 2024-08-22T16:04:05
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
          x-go-name: EndDate
          x-order: "160"
        style: form
        x-go-name: EndDate
        x-order: "160"
      - description: "Specifies the exact date to get the data for. Could be the exact\
          \ date, e.g. `2021-10-27`, or in human language `today` or `yesterday`"
        example: 2021-10-27
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
          x-go-name: Date
          x-order: "140"
        style: form
        x-go-name: Date
        x-order: "140"
      - description: Sorting order of the output
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: "#/components/schemas/OrderEnum"
        style: form
        x-go-name: Order
        x-order: "130"
      - description: |-
          Returns quotes that include pre-market and post-market data. Only for the `Pro` plan (individual) and `Venture` plan (business) and above.
          Available at the `1min`, `5min`, `15min`, and `30min` intervals for US equities.
          Open, high, low, close values are supplied without volume
        explode: true
        in: query
        name: prepost
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: Prepost
          x-order: "110"
        style: form
        x-go-name: Prepost
        x-order: "110"
      - description: The format of the response data
        explode: true
        in: query
        name: format
        required: false
        schema:
          $ref: "#/components/schemas/FormatEnum"
        style: form
        x-go-name: Format
        x-order: "90"
      - description: The separator used in the CSV response data
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          default: ;
          type: string
          x-go-name: Delimiter
          x-order: "100"
        style: form
        x-go-name: Delimiter
        x-order: "100"
      - description: |-
          Specifies the number of decimal places for floating values.
          Should be in range [0, 11] inclusive.
          By default, the number of decimal places is automatically determined based on the values provided
        explode: true
        in: query
        name: dp
        required: false
        schema:
          default: -1
          format: int64
          type: integer
          x-go-name: DecimalPlaces
          x-order: "120"
        style: form
        x-go-name: DecimalPlaces
        x-order: "120"
      - description: "A boolean parameter to include the previous closing price in\
          \ the time_series data. If true, adds previous bar close price value to\
          \ the current object"
        explode: true
        in: query
        name: previous_close
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: PreviousPrice
          x-order: "170"
        style: form
        x-go-name: PreviousPrice
        x-order: "170"
      - description: Adjusting mode for prices
        explode: true
        in: query
        name: adjust
        required: false
        schema:
          $ref: "#/components/schemas/AdjustEnum"
        style: form
        x-go-name: Adjust
        x-order: "180"
      - description: Price type on which technical indicator is calculated
        explode: true
        in: query
        name: series_type
        required: false
        schema:
          $ref: "#/components/schemas/SeriesTypeEnum"
        style: form
        x-go-name: SeriesType
        x-order: "64"
      - description: Number of periods for fast moving average. Takes values in the
          range from `1` to `800`
        explode: true
        in: query
        name: fast_period
        required: false
        schema:
          default: 12
          format: int64
          type: integer
          x-go-name: FastPeriod
          x-order: "62"
        style: form
        x-go-name: FastPeriod
        x-order: "62"
      - description: Number of periods for slow moving average. Takes values in the
          range from `1` to `800`
        explode: true
        in: query
        name: slow_period
        required: false
        schema:
          default: 26
          format: int64
          type: integer
          x-go-name: SlowPeriod
          x-order: "64"
        style: form
        x-go-name: SlowPeriod
        x-order: "64"
      - description: The type of moving average used
        explode: true
        in: query
        name: ma_type
        required: false
        schema:
          $ref: "#/components/schemas/MaTypeEnum"
        style: form
        x-go-name: MAType
        x-order: "63"
      - description: Specify if OHLC values should be added in the output
        explode: true
        in: query
        name: include_ohlc
        required: false
        schema:
          default: false
          type: boolean
          x-go-name: IncludeOHLC
          x-order: "132"
        style: form
        x-go-name: IncludeOHLC
        x-order: "132"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTimeSeriesApo_200_response"
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiBadRequestErrorResponseBody"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiUnauthorizedErrorResponseBody"
          description: ""
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiForbiddenErrorResponseBody"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNotFoundErrorResponseBody"
          description: ""
        "414":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiParameterTooLongErrorResponseBody"
          description: ""
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiTooManyRequestsErrorResponseBody"
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiInternalServerErrorResponseBody"
          description: ""
      summary: Absolute price oscillator
      tags:
      - technical_indicator
      x-api-credits-cost: "1"
      x-api-credits-type: symbol
[...]
